<p id="notice"><%= notice %></p>

<p>
  <strong>Achievment:</strong>
  <%= @achievment_success.achievment %>
</p>

<p>
  <strong>Team:</strong>
  <%= @achievment_success.team %>
</p>

<%= link_to 'Edit', edit_achievment_success_path(@achievment_success) %> |
<%= link_to 'Back', achievment_successes_path %>
