<%= form_for(@achievement_success) do |f| %>
  <% if @achievement_success.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achievement_success.errors.count, "error") %> prohibited this achievement_success from being saved:</h2>

      <ul>
      <% @achievement_success.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :achievement_id %><br>
    <%= f.text_field :achievement_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.text_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
