<p id="notice"><%= notice %></p>

<p>
  <strong>achievement:</strong>
  <%= @achievement_success.achievement %>
</p>

<p>
  <strong>Team:</strong>
  <%= @achievement_success.team %>
</p>

<%= link_to 'Edit', edit_achievement_success_path(@achievement_success) %> |
<%= link_to 'Back', achievement_successes_path %>
